.product-container {
    display: inline-block;
    width: 600px;
    background: blue;
}

.product-content {
    width: 100%;
}

.product-image {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 300px;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}
