button {
    font-size: 18px;
    font-family: var(--BODY-FONT);
    letter-spacing: 1%;
    line-height: 156%;
    font-variation-settings: "slnt" 0;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.disabled-button:disabled {
    background: var(--LIGHT-GREY);
    border: 1px solid var(--GREY);
    color: var(--OFF-BLACK);
    cursor: not-allowed;
}

.disabled-button:hover {
    background: var(--LIGHT-GREY);
    border: 1px solid var(--GREY);
}

.primary-button {
    background: var(--PRIMARY-BLUE);
    color: var(--PURE-WHITE);
}

.primary-button:hover {
    background: var(--HOVER-BLUE);
}

.primary-button-inverted {
    background: var(--PURE-WHITE);
    color: var(--PRIMARY-BLUE);
    border: 1px solid var(--PRIMARY-BLUE);
}

.primary-button-inverted:hover {
    background: var(--HOVER-GREY);
}

.alternative-button {
    background: var(--LIGHT-BLUE);
    color: var(--DARK-BLUE);
}

.alternative-button:hover {
    background: var(--HOVER-BLUE);
    color: var(--PURE-WHITE);
}

.primary-button-size {
    width: 175px;
    height: 40px;
}

.search-button-size {
    width: 100px;
    height: 40px;
}

.center-button {
    display: block;
    margin: 0 auto;
}

.form-button-spacing {
    margin-top: 50px;
    margin-bottom: 10px;
}

.form-button-size {
    width: 100%;
    height: 50px;
}
