.comparison-block {
    padding: 0 5px;
}

.section-title-container {
    background: none;
    border: none;
    border-bottom: 2px solid var(--PRIMARY-BLUE);
    border-radius: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding-bottom: 10px;
}

.comparison-section-title {
    color: var(--PRIMARY-BLUE);
    text-align: left;
    width: 100%;
}

.collapsible-section-arrow {
    color: var(--PRIMARY-BLUE);
}

.column-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
}

.hide-section {
    display: none;
}

.show-section {
    display: grid;
}
