.navbar {
    width: 100%;
    padding: 40px 0;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.regular-navbar {
    background-color: var(--OFF-WHITE);
}

.navbar-option:hover, .navbar > a:hover {
    text-decoration: none;
}

.comparison-navbar {
    background-color: var(--LIGHTEST-BLUE);
}

.navbar-middle {
    flex: 1;
}

.navbar-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-option {
    margin: 1.65rem;
    color: var(--OFF-BLACK);
}

.primary-button-inverted-list {
    margin-left: 1.65rem;
}
