.recommendation-table {
    margin: 2% auto;
    border-collapse: collapse;
    min-width: 50%;
    max-width: 70%;
    max-width: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.recommendation-table thead tr {
    background-color: var(--LIGHT-BLUE);
    text-align: center;
    vertical-align: baseline;
}

.recommendation-table th,
.recommendation-table td {
    padding: 15px 30px;
    max-width: 10%;
    word-wrap: break-word;
}

.recommendation-table tbody tr {
    border-bottom: 1px solid var(--LIGHT-GREY);
    text-align: center;
}

.recommendation-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--LIGHT-BLUE);
}

.score-info-tooltip {
    color: var(--PRIMARY-BLUE);
    margin-left: 5px;
}
