.star-rating-block {
    display: flex;
    align-items: center;
}

.center-star-block {
    justify-content: center;
}

.left-star-block {
    justify-content: left;
}

.rating-text {
    color: var(--DARK-GREY);
}

.star-rating-container {
    margin: 0 6px;
    text-wrap: nowrap;
}

.star-outline {
    color: var(--YELLOW);
    font-size: 16px;
    margin: 0 3px;
}
