.footer {
    margin: 6% 0% 4% 0%;
}

.footer-hr {
    border: 0.5px solid var(--GREY);
    margin-bottom: 3%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.center-logo { 
    text-align: center;
}

.footer-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-option {
    margin: 30px;
    color: var(--OFF-BLACK);
}
