.footer {
    margin: 4% 7% 4% 7%;
}

.footer-hr {
    border: 0.5px solid var(--GREY);
    margin-bottom: 3%;
}

.center-logo { 
    text-align: center;
}

.footer-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-option {
    padding: 30px;
    color: var(--OFF-BLACK);
}
