.tooltip-container {
    position: relative;
    display: inline-block;
    text-align: left;
}

.score-info-tooltip {
    color: var(--PRIMARY-BLUE);
    margin-left: 5px;
}

.tooltip-content {
    margin-top: -100%;
    position: absolute;
    background: var(--PRIMARY-BLUE);
    color: var(--OFF-WHITE);
    margin-left: 135%;
    padding: 8px;
    border-radius: 4px;
    z-index: 999;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    top: 5%;
    right: 100%;
    border-width: 5px;
    border-color: transparent var(--PRIMARY-BLUE) transparent transparent;
}
