.fixed-buttons-container {
    background: linear-gradient(
        to top,
        rgba(251, 251, 251, 1) 30%,
        rgba(251, 251, 251, 0.8) 100%
    );
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.fixed-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1%;
    margin: 3% 7% 3% 0;
    justify-content: end;
    align-items: end;
}

.search-and-selected {
    display: grid;
    grid-template-columns: 1fr 17%;
    align-items: center;
}

.num-selected {
    margin-right: 15%;
    text-align: right;
}

.min-selection {
    color: var(--DARK-BLUE);
}

.picked-for-you, .all-products {
    display: grid;
    grid-gap: 25px 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* DESKTOP SCREEN */
@media screen and (min-width: 1500px) {
	.picked-for-you, .all-products {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}

/* SMALL SCREEN */
@media screen and (max-width: 1200px) {
	.picked-for-you, .all-products {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

/* SMALLEST SCREEN */
@media screen and (max-width: 800px) {
	.picked-for-you, .all-products {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
