/* GLOBAL STYLES */
:root {
    /* COLOURS */
    --PURE-BLACK: #000000;
    --OFF-BLACK: #2D3748;
    --PURE-WHITE: #FFFFFF;
    --OFF-WHITE: #FEFEFE;
    --GRADIENT-WHITE: #FBFBFB;
    --DARK-GREY: #757F87;
    --GREY: #A2A5AB;
    --LIGHT-GREY: #E7E7E7;
    --LIGHTER-GREY: #F5F5F5;

    --DARK-BLUE: #004EC6;
    --PRIMARY-BLUE: #1776EE;
    --LIGHT-BLUE: #E8F1FD;
    --LIGHTER-BLUE: #EFF6FE;
    --LIGHTEST-BLUE: #F7FAFE;

    --HOVER-GREY: #ededed;
    --HOVER-BLUE: #4096ff;

    --GREEN: #52C41A;
    --YELLOW: #FADB14;
    --RED: #FF4D4F;

    /* FONTS */
    --HEADING-FONT: "Syne", sans-serif;
    --BODY-FONT: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--BODY-FONT);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--OFF-WHITE);
    color: var(--OFF-BLACK);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
    outline: none;
    display: none;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
