/* GLOBAL STYLES */
:root {
    /* COLOURS */
    --PURE-BLACK: #000000;
    --OFF-BLACK: #2D3748;
    --PURE-WHITE: #F9F9F9;
    --OFF-WHITE: #FEFEFE;
    --GRADIENT-WHITE: #FBFBFB;
    --DARK-GREY: #757F87;
    --GREY: #A2A5AB;
    --LIGHT-GREY: #E7E7E7;

    --DARK-BLUE: #004EC6;
    --PRIMARY-BLUE: #1776EE;
    --LIGHT-BLUE: #E8F1FD;
    --LIGHTER-BLUE: #EFF6FE;
    --LIGHTEST-BLUE: #F7FAFE;

    --GREEN: #52C41A;
    --YELLOW: #FADB14;
    --RED: #FF4D4F;

    /* FONTS */
    --HEADING-FONT: "Syne", sans-serif;
    --BODY-FONT: "Inter", sans-serif;

    /* STYLES */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--BODY-FONT);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--OFF-WHITE);
    color: var(--OFF-BLACK);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
    outline: none;
    display: none;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

h1, h2, h3, h4, .logo {
    font-weight: 600;
    font-style: normal;
}

h1, h2, h3 {
    font-family: var(--HEADING-FONT);
    letter-spacing: -2%;
}

h1 {
    font-size: 54px;
    line-height: 124%;
    text-align: center;
}

h2 {
    font-size: 44px;
    line-height: 124%;
    text-align: center;
}

h3 {
    font-size: 36px;
    line-height: 132%;
}

h4 {
    font-size: 26px;
    font-family: var(--BODY-FONT);
    letter-spacing: 0%;
    line-height: 140%;
}

.text-highlight {
    color: var(--PRIMARY-BLUE);
    font-family: var(--HEADING-FONT);
}

.center-text {
    text-align: center;
}

.body-1, .body-1-medium, .body-1-bold {
    font-size: 18px;
    font-family: var(--BODY-FONT);
    letter-spacing: 1%;
    line-height: 156%;
    font-variation-settings: "slnt" 0;
}

.body-1 {
    font-weight: 400;
}

.body-1-medium {
    font-weight: 500;
}

.body-1-bold {
    font-weight: 600;
}

.body-2, .body-2-medium {
    font-size: 16px;
    font-family: var(--BODY-FONT);
    letter-spacing: 1%;
    line-height: 140%;
    font-variation-settings: "slnt" 0;
}

.body-2 {
    font-weight: 400;
}

.body-2-medium {
    font-weight: 500;
}

.body-3, .body-3-medium, .body-3-bold {
    font-size: 14px;
    font-family: var(--BODY-FONT);
    letter-spacing: 1%;
    line-height: 135%;
    font-variation-settings: "slnt" 0;
}

.body-3 {
    font-weight: 400;
}

.body-3-medium {
    font-weight: 500;
}

.body-3-bold {
    font-weight: 700;
}
