.stop-background-scroll {
    overflow: hidden;
}

.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}

.modal {
    width: 35%;
    max-height: 90%;
    padding: 2.5rem 2.5rem;
    border: 0;
    border-radius: 8px;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    overflow-x: hidden;
    z-index: 2;
}

.modal-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    background: transparent;
    color: var(--OFF-BLACK);
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal-header-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-extra-title-spacing {
    margin-bottom: 4px;
}

/* SMALL SCREEN */
@media screen and (max-width: 1200px) {
    .modal {
        width: 60%;
    }
}

/* SMALLEST SCREEN */
@media screen and (max-width: 800px) {
	.modal {
        width: 80%;
    }
}
