.product-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: "overlayarea";
	position: relative;
	border-radius: 8px;
}

.selected-product {
	background: var(--LIGHTER-BLUE);
	border: 2px solid var(--PRIMARY-BLUE);
}

.unselected-product {
	background: var(--PURE-WHITE);
	border: 2px solid var(--LIGHT-GREY);
}

.product-content {
	grid-area: overlayarea;
	display: contents;
	position: relative;
    width: 100%;
	text-align: left;
}

.selection-number {
	grid-area: overlayarea;
	background: var(--PRIMARY-BLUE);
	color: var(--OFF-WHITE);
	position: absolute;
	top: 3%;
	right: 3%;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	z-index: 20;
}

.basic-details-container {
	grid-row: 1;
	position: relative;
	display: contents;
	padding: 5%;
}

.product-image {
	display: block;
	-webkit-user-drag: none;
	inset: 0;
	max-height: 100%;
	max-width: 95%;
	padding: 2%;
	margin: auto auto;
}

.product-title {
	padding: 2% 5% 2% 5%;
	min-height: 80px;
}

.product-rating {
	padding: 2% 5% 2% 5%;
}

.selected-product-line { 
	border: 1px solid var(--PRIMARY-BLUE);
}

.unselected-product-line { 
	border: 1px solid var(--LIGHT-GREY);
}

.price-and-link-container {
	padding: 2% 5% 2% 5%;
}

.product-page-link {
	color: var(--PRIMARY-BLUE);
}

.product-price {
	padding-top: 3px;
}
