.form-row + .form-row {
    margin-top: 1rem;
}

.form-row label,
.form-row input,
.form-row select {
    width: 100%;
    display: block;
    margin-top: 8px;
}

.form-row input,
.form-row select,
.form-row button {
    border: solid black;
    border-width: 1px;
}

.radio-label {
    background: lightblue;
    width: 20px;
    height: 20px;
}

input[type="radio"]:checked ~ .radio-label {
    background: orange;
}

.skip-button {
    width: 100%;
}

.continue-button {
    width: 100%;
}
